{% extends "layout.html" %}

{% block title %}
Add Record
{% endblock %}

{% block body %}
    <form action="/saveRecord" method="post">

        <!-- Textfield with Floating Label -->
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="sample3">
        <label class="mdl-textfield__label" for="sample3">Text...</label>
        </div>
  
        <!-- <input autocomplete="off" id="refuelMileage" name="refuelMileage" placeholder="refuelMileage" type="text" autofocus><br>
        <input autocomplete="off" id="refuelAmount"  name="refuelAmount" placeholder="refuelAmount" type="number" step="any"><br>
        <input autocomplete="off" id="Full" name="refuelType" type="radio" value="Full"><label for="Full">Full</label>
        <input autocomplete="off" id="Partial" name="refuelType" type="radio" value="Partial"><label for="Partial">Partial</label><br>
        <input autocomplete="off" id="refuelDate"    name="refuelDate" value="" type="date"><br>
        <input autocomplete="off" id="refuelQty" name="refuelQty" placeholder="refuelQty" type="text"><br>
        <input autocomplete="off" id="refuelUnitPrice" name="refuelUnitPrice" placeholder="refuelUnitPrice" type="text"><br>
        <input autocomplete="off" id="fuelType_idfuelType" name="fuelType_idfuelType" placeholder="fuelType_idfuelType" type="text"><br>
        <input autocomplete="off" id="Vehicle_idVehicle" name="Vehicle_idVehicle" placeholder="Vehicle_idVehicle" type="text"><br>
        <input autocomplete="off" id="Units_idUnits" name="Units_idUnits" placeholder="Units_idUnits" type="text"><br> -->
        <!-- <input class="mdc-button mdc-button--raised" type="submit" value="Add Record"> -->
        <button class="mdc-button mdc-button--raised" type="submit"><span class="mdc-button__ripple"></span>Add Record</button>

        <select name="fuelType" id="fuelType">
            {% for fuelType in fuelTypes %}
            <option value="{{fuelType[0]}}">{{fuelType[1]}}</option>
            {% endfor %}
        </select>

        <select name="unit" id="unit">
            {% for unit in units %}
            <option value="{{unit[0]}}">{{unit[1]}}</option>
            {% endfor %}
        </select>

    </form>
    <script>
    document.getElementById('refuelDate').valueAsDate = new Date();
    </script>

{% endblock %}




  

